@import '../../themes/utils';

.container {
  list-style: none;
  border: 1px solid $border-color;
  //min-height: $menu-width;
}

.item {
  padding: $base-distance / 2;
  border-bottom: 1px solid $border-color;
}

.title {
  padding: $base-distance / 4;
}

.active {
  color: $primary-color;
}
