@import '../../themes/utils';

.container {
  list-style: none;
  width: 100%;
  border: 1px solid $border-color;
}

.item {
  padding: $base-distance / 2;
  border-bottom: 1px solid $border-color;
}

.title {
  word-break: break-all;
}

.active {
  position: relative;
  color: $primary-color;
  background-color: $menu-active-background;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-right: 3px solid $primary-color;
    content: '';
  }
}
