.corner:hover .arm {
  animation: waveAnimation 560ms ease-in-out;
}

@keyframes waveAnimation {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .corner:hover .arm {
    animation: none;
  }
  .corner .arm {
    animation: waveAnimation 560ms ease-in-out;
  }
}
