@import '../../themes/utils';

.container {
  overflow: auto;
}

.item {
  padding: $base-distance / 2;
  border-bottom: 1px solid $border-color;
}

.title {
  font-weight: bold;
  padding-right: $base-distance / 2;
}

.location, .time {
  padding: $base-distance / 2;
}

.info {
  padding-top: $base-distance / 2;
  padding-bottom: $base-distance / 2;
  color: $sub-content-color;
}
