@import '../../themes/utils';

.container {
  padding: $base-distance / 2;
  display: flex;
  justify-content: center;
}

.input {
  position: absolute;
  left: -9999px;
}

.label {
  padding: $base-distance / 4;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: $base-distance;
}
