@import '../../themes/utils';

.container {
  padding: $base-distance / 2;
  display: flex;
  justify-content: center;
}

.input {
  position: absolute;
  left: -9999px;
}

.label {
  padding: $base-distance / 2;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid $border-color;

  &:hover {
    color: $primary-color;
  }
}
