@import '../../themes/utils.scss';

.container {
  padding: $base-distance;
}


.bookMenu {
  min-width: $menu-width;
}

.content {
  display: flex;
}

.bookClippings {
  flex: 1;
  border: 1px solid $border-color;
}

.emptyTip {
  padding: $base-distance / 2;
  font-weight: bold;
  text-align: center;
  color: $primary-color;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: $base-distance;
}

.lang {
  position: absolute;
  right: 0;
}
