@import '../../themes/utils.scss';

.container {
  padding: $base-distance;
}


.bookMenu {
  width: $menu-width;
}

.content {
  display: flex;
  box-shadow: $box-shadow;
}

.bookClippings {
  flex: 1;
}

.emptyTip {
  padding: $base-distance / 2;
  font-weight: bold;
  text-align: center;
  color: $primary-color;
}
